<section class="grid grid-cols-1 md:grid-cols-2 gap-5">
  <form [formGroup]="supabaseForm" (ngSubmit)="connectSupabase()">
    <div
      class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70"
    >
      <div
        class="flex flex-auto flex-col justify-center items-start p-4 md:p-5"
      >
        <h3 class="text-lg font-bold text-gray-800 dark:text-white mb-4">
          Connect to Supabase
        </h3>
        <div class="grid gap-4 grid-cols-1 w-full">
          <div class="max-w-full">
            <label
              for="connectionName"
              class="block text-sm font-medium mb-2 dark:text-white"
              >Connection Name</label
            >
            <input
              type="text"
              id="connectionName"
              formControlName="connectionName"
              class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-gray-500 focus:ring-gray-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
              placeholder="Connection Name"
              aria-describedby="hs-input-helper-text"
            />
            <p
              class="mt-2 text-sm text-gray-500 dark:text-neutral-500"
              id="hs-input-helper-text"
            >
              Connection Name is the name of your connection.
            </p>
          </div>
          <div class="max-w-full">
            <label
              for="projectUrl"
              class="block text-sm font-medium mb-2 dark:text-white"
              >Project URL</label
            >
            <input
              type="text"
              id="projectUrl"
              formControlName="projectUrl"
              class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-gray-500 focus:ring-gray-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
              placeholder="Project URL"
              aria-describedby="hs-input-helper-text"
            />
            <p
              class="mt-2 text-sm text-gray-500 dark:text-neutral-500"
              id="hs-input-helper-text"
            >
              Project URL is the URL of your Supabase instance.
            </p>
          </div>
          <div class="max-w-full">
            <label
              for="anonApiKey"
              class="block text-sm font-medium mb-2 dark:text-white"
              >Anon API Key</label
            >
            <input
              type="text"
              id="anonApiKey"
              formControlName="anonApiKey"
              class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-gray-500 focus:ring-gray-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
              placeholder="Anon API Key"
              aria-describedby="hs-input-helper-text"
            />
            <p
              class="mt-2 text-sm text-gray-500 dark:text-neutral-500"
              id="hs-input-helper-text"
            >
              Anon API Key is the key of your Supabase instance.
            </p>
          </div>
        </div>
        <button
          *ngIf="!isLoadingSupabaseConnection"
          type="submit"
          class="mt-5 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-gray-800 text-white hover:bg-gray-900 focus:outline-none focus:bg-gray-900 disabled:opacity-50 disabled:pointer-events-none dark:bg-white dark:text-neutral-800"
        >
          Connect Supabase
        </button>
        <button
          *ngIf="isLoadingSupabaseConnection"
          type="button"
          class="mt-5 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-gray-800 text-white hover:bg-gray-900 focus:outline-none focus:bg-gray-900 disabled:opacity-50 disabled:pointer-events-none dark:bg-white dark:text-neutral-800"
          [ngClass]="{
            'opacity-50 cursor-not-allowed ': isLoadingSupabaseConnection
          }"
        >
          <span
            class="animate-spin inline-block size-4 border-[3px] border-current border-t-transparent text-white rounded-full"
            role="status"
            aria-label="loading"
          ></span>
          Loading
        </button>
      </div>
    </div>
  </form>

  <form [formGroup]="airtableForm" (ngSubmit)="connectAirtable()">
    <div
      class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70"
    >
      <div
        class="flex flex-auto flex-col justify-center items-start p-4 md:p-5"
      >
        <h3 class="text-lg font-bold text-gray-800 dark:text-white mb-4">
          Connect to Airtable
        </h3>
        <div class="grid gap-4 grid-cols-1 w-full">
          <div class="max-w-full">
            <label
              for="connectionName"
              class="block text-sm font-medium mb-2 dark:text-white"
              >Connection Name</label
            >
            <input
              type="text"
              id="connectionName"
              formControlName="connectionName"
              class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-gray-500 focus:ring-gray-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
              placeholder="Connection Name"
              aria-describedby="hs-input-helper-text"
            />
            <p
              class="mt-2 text-sm text-gray-500 dark:text-neutral-500"
              id="hs-input-helper-text"
            >
              Connection Name is the name of your connection.
            </p>
          </div>
          <div class="max-w-full">
            <label
              for="accessToken"
              class="block text-sm font-medium mb-2 dark:text-white"
              >Access Token</label
            >
            <input
              type="text"
              id="accessToken"
              formControlName="accessToken"
              class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-gray-500 focus:ring-gray-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
              placeholder="Access Token"
              aria-describedby="hs-input-helper-text"
            />
            <p
              class="mt-2 text-sm text-gray-500 dark:text-neutral-500"
              id="hs-input-helper-text"
            >
              Access Token is the key of your Airtable instance.
            </p>
          </div>

          <div class="max-w-full">
            <label
              for="baseId"
              class="block text-sm font-medium mb-2 dark:text-white"
              >Base ID</label
            >
            <input
              type="text"
              id="baseId"
              formControlName="baseId"
              class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-gray-500 focus:ring-gray-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
              placeholder="Base ID"
              aria-describedby="hs-input-helper-text"
              (input)="extractBaseIdFromUrl()"
            />
            <p
              class="mt-2 text-sm text-gray-500 dark:text-neutral-500"
              id="hs-input-helper-text"
            >
              Base ID is the ID of your Airtable base.
            </p>
          </div>
        </div>
        <button
          *ngIf="!isLoadingAirtableConnection"
          type="submit"
          class="mt-5 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-gray-800 text-white hover:bg-gray-900 focus:outline-none focus:bg-gray-900 disabled:opacity-50 disabled:pointer-events-none dark:bg-white dark:text-neutral-800"
        >
          Connect Airtable
        </button>
        <button
          *ngIf="isLoadingAirtableConnection"
          type="button"
          class="mt-5 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-gray-800 text-white hover:bg-gray-900 focus:outline-none focus:bg-gray-900 disabled:opacity-50 disabled:pointer-events-none dark:bg-white dark:text-neutral-800"
          [ngClass]="{
            'opacity-50 cursor-not-allowed ': isLoadingAirtableConnection
          }"
        >
          <span
            class="animate-spin inline-block size-4 border-[3px] border-current border-t-transparent text-white rounded-full"
            role="status"
            aria-label="loading"
          ></span>
          Loading
        </button>
      </div>
    </div>
  </form>
</section>
