<section class="grid grid-cols-1 md:grid-cols-2 gap-5">
  <form [formGroup]="supabaseForm" (ngSubmit)="connectSupabase()">
    <div
      class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70"
    >
      <div
        class="flex flex-auto flex-col justify-center items-start p-4 md:p-5"
      >
        <h3 class="text-lg font-bold text-gray-800 dark:text-white mb-4">
          Connect to Supabase
        </h3>
        <div class="grid gap-4 grid-cols-1 w-full">
          <div class="max-w-full">
            <label
              for="connectionName"
              class="block text-sm font-medium mb-2 dark:text-white"
              >Connection Name</label
            >
            <input
              type="text"
              id="connectionName"
              formControlName="connectionName"
              class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-gray-500 focus:ring-gray-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
              placeholder="Connection Name"
              aria-describedby="hs-input-helper-text"
            />
            <p
              class="mt-2 text-sm text-gray-500 dark:text-neutral-500"
              id="hs-input-helper-text"
            >
              Any name you want to give to your connection.
            </p>
          </div>
          <div class="max-w-full">
            <label
              for="projectUrl"
              class="flex justify-between items-center text-sm font-medium mb-2 dark:text-white"
            >
              Project URL
              <a
                href="https://supabase.com/dashboard/project/_/settings/api"
                target="_blank"
                class="inline-flex justify-center items-center gap-x-2 px-1.5 py-0.5 text-xs font-semibold rounded-lg border border-gray-200 text-gray-600 hover:text-gray-800 focus:outline-none focus:text-gray-800 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-500 dark:hover:text-gray-400 dark:focus:text-gray-400"
              >
                Where to find?
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="18px"
                  viewBox="0 -960 960 960"
                  width="18px"
                  fill="currentColor"
                  class="text-gray-800 hover:text-gray-900"
                >
                  <path
                    d="m256-240-56-56 384-384H240v-80h480v480h-80v-344L256-240Z"
                    fill="currentColor"
                  />
                </svg>
              </a>
            </label>
            <input
              type="text"
              id="projectUrl"
              formControlName="projectUrl"
              class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-gray-500 focus:ring-gray-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
              placeholder="Project URL"
              aria-describedby="hs-input-helper-text"
            />
            <p
              class="mt-2 text-sm text-gray-500 dark:text-neutral-500"
              id="hs-input-helper-text"
            >
              You can find this in your Supabase project settings.
            </p>
          </div>
          <div class="max-w-full">
            <label
              for="anonApiKey"
              class="flex justify-between items-center text-sm font-medium mb-2 dark:text-white"
            >
              Anon API Key
              <a
                href="https://supabase.com/dashboard/project/_/settings/api"
                target="_blank"
                class="inline-flex justify-center items-center gap-x-2 px-1.5 py-0.5 text-xs font-semibold rounded-lg border border-gray-200 text-gray-600 hover:text-gray-800 focus:outline-none focus:text-gray-800 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-500 dark:hover:text-gray-400 dark:focus:text-gray-400"
              >
                Where to find?
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="18px"
                  viewBox="0 -960 960 960"
                  width="18px"
                  fill="currentColor"
                  class="text-gray-800 hover:text-gray-900"
                >
                  <path
                    d="m256-240-56-56 384-384H240v-80h480v480h-80v-344L256-240Z"
                    fill="currentColor"
                  />
                </svg>
              </a>
            </label>
            <input
              type="text"
              id="anonApiKey"
              formControlName="anonApiKey"
              class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-gray-500 focus:ring-gray-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
              placeholder="Anon API Key"
              aria-describedby="hs-input-helper-text"
            />
            <p
              class="mt-2 text-sm text-gray-500 dark:text-neutral-500"
              id="hs-input-helper-text"
            >
              You can find this in your Supabase project settings.
            </p>
          </div>
        </div>
        <button
          *ngIf="!isLoadingSupabaseConnection"
          type="submit"
          class="mt-5 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-gray-800 text-white hover:bg-gray-900 focus:outline-none focus:bg-gray-900 disabled:opacity-50 disabled:pointer-events-none dark:bg-white dark:text-neutral-800"
        >
          Connect Supabase
        </button>
        <button
          *ngIf="isLoadingSupabaseConnection"
          type="button"
          class="mt-5 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-gray-800 text-white hover:bg-gray-900 focus:outline-none focus:bg-gray-900 disabled:opacity-50 disabled:pointer-events-none dark:bg-white dark:text-neutral-800"
          [ngClass]="{
            'opacity-50 cursor-not-allowed ': isLoadingSupabaseConnection
          }"
        >
          <span
            class="animate-spin inline-block size-4 border-[3px] border-current border-t-transparent text-white rounded-full"
            role="status"
            aria-label="loading"
          ></span>
          Loading
        </button>
      </div>
    </div>
  </form>
  <form [formGroup]="airtableForm" (ngSubmit)="connectAirtable()">
    <div
      class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70"
    >
      <div
        class="flex flex-auto flex-col justify-center items-start p-4 md:p-5"
      >
        <h3 class="text-lg font-bold text-gray-800 dark:text-white mb-4">
          Connect to Airtable
        </h3>
        <div class="grid gap-4 grid-cols-1 w-full">
          <div class="max-w-full">
            <label
              for="connectionName"
              class="block text-sm font-medium mb-2 dark:text-white"
              >Connection Name</label
            >
            <input
              type="text"
              id="connectionName"
              formControlName="connectionName"
              class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-gray-500 focus:ring-gray-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
              placeholder="Connection Name"
              aria-describedby="hs-input-helper-text"
            />
            <p
              class="mt-2 text-sm text-gray-500 dark:text-neutral-500"
              id="hs-input-helper-text"
            >
              Any name you want to give to your connection.
            </p>
          </div>
          <div class="max-w-full">
            <label
              for="accessToken"
              class="flex justify-between items-center text-sm font-medium mb-2 dark:text-white"
            >
              Access Token
              <a
                href="https://airtable.com/create/tokens"
                target="_blank"
                class="inline-flex justify-center items-center gap-x-2 px-1.5 py-0.5 text-xs font-semibold rounded-lg border border-gray-200 text-gray-600 hover:text-gray-800 focus:outline-none focus:text-gray-800 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-500 dark:hover:text-gray-400 dark:focus:text-gray-400"
              >
                Where to find?
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="18px"
                  viewBox="0 -960 960 960"
                  width="18px"
                  fill="currentColor"
                  class="text-gray-800 hover:text-gray-900"
                >
                  <path
                    d="m256-240-56-56 384-384H240v-80h480v480h-80v-344L256-240Z"
                    fill="currentColor"
                  />
                </svg>
              </a>
            </label>
            <input
              type="text"
              id="accessToken"
              formControlName="accessToken"
              class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-gray-500 focus:ring-gray-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
              placeholder="Access Token"
              aria-describedby="hs-input-helper-text"
            />
            <p
              class="mt-2 text-sm text-gray-500 dark:text-neutral-500"
              id="hs-input-helper-text"
            >
              You can create an access token from Airtable.
            </p>
          </div>

          <div class="max-w-full">
            <label
              for="baseId"
              class="flex justify-between items-center text-sm font-medium mb-2 dark:text-white"
            >
              Base ID
              <a
                href="https://airtable.com"
                target="_blank"
                class="inline-flex justify-center items-center gap-x-2 px-1.5 py-0.5 text-xs font-semibold rounded-lg border border-gray-200 text-gray-600 hover:text-gray-800 focus:outline-none focus:text-gray-800 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-500 dark:hover:text-gray-400 dark:focus:text-gray-400"
              >
                Where to find?
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="18px"
                  viewBox="0 -960 960 960"
                  width="18px"
                  fill="currentColor"
                  class="text-gray-800 hover:text-gray-900"
                >
                  <path
                    d="m256-240-56-56 384-384H240v-80h480v480h-80v-344L256-240Z"
                    fill="currentColor"
                  />
                </svg>
              </a>
            </label>
            <input
              type="text"
              id="baseId"
              formControlName="baseId"
              class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-gray-500 focus:ring-gray-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
              placeholder="Base ID"
              aria-describedby="hs-input-helper-text"
              (input)="extractBaseIdFromUrl()"
            />
            <p
              class="mt-2 text-sm text-gray-500 dark:text-neutral-500"
              id="hs-input-helper-text"
            >
              You can just paste in the URL of your base/table.
            </p>
          </div>
        </div>
        <button
          *ngIf="!isLoadingAirtableConnection"
          type="submit"
          class="mt-5 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-gray-800 text-white hover:bg-gray-900 focus:outline-none focus:bg-gray-900 disabled:opacity-50 disabled:pointer-events-none dark:bg-white dark:text-neutral-800"
        >
          Connect Airtable
        </button>
        <button
          *ngIf="isLoadingAirtableConnection"
          type="button"
          class="mt-5 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-gray-800 text-white hover:bg-gray-900 focus:outline-none focus:bg-gray-900 disabled:opacity-50 disabled:pointer-events-none dark:bg-white dark:text-neutral-800"
          [ngClass]="{
            'opacity-50 cursor-not-allowed ': isLoadingAirtableConnection
          }"
        >
          <span
            class="animate-spin inline-block size-4 border-[3px] border-current border-t-transparent text-white rounded-full"
            role="status"
            aria-label="loading"
          ></span>
          Loading
        </button>
      </div>
    </div>
  </form>
</section>

<!-- FAQ -->
<section class="max-w-[85rem] px-4 pt-16 pb-6 sm:px-6 lg:px-8 mx-auto">
  <!-- Title -->
  <div class="max-w-2xl mx-auto text-center mb-6 lg:mb-14">
    <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">
      Your questions, answered
    </h2>
    <p class="mt-1 text-gray-600 dark:text-neutral-400">
      Answers to the most frequently asked questions.
    </p>
  </div>
  <!-- End Title -->

  <div class="max-w-2xl mx-auto">
    <!-- Accordion -->
    <div class="hs-accordion-group">
      <div
        *ngFor="let faq of faq"
        class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6 dark:hs-accordion-active:bg-white/10"
        id="hs-basic-with-title-and-arrow-stretched-heading-two"
      >
        <button
          class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400"
          aria-expanded="false"
          aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-two"
        >
          {{ faq.question }}
          <svg
            class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="m6 9 6 6 6-6" />
          </svg>
          <svg
            class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="m18 15-6-6-6 6" />
          </svg>
        </button>
        <div
          id="hs-basic-with-title-and-arrow-stretched-collapse-two"
          class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
          role="region"
          aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-two"
        >
          <p class="text-gray-800 dark:text-neutral-200">
            {{ faq.answer }}
          </p>
        </div>
      </div>
    </div>
    <!-- End Accordion -->
  </div>
</section>
<!-- End FAQ -->
