<section class="grid grid-cols-1 gap-5">
  <div
    class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70"
  >
    <div class="flex flex-auto flex-col justify-center items-start p-4">
      <div class="flex justify-between items-center w-full mb-5">
        <h3 class="text-lg font-bold text-gray-800 dark:text-white">
          Sync Logs
        </h3>
        <div class="hs-tooltip [--placement:left] inline-block">
          <button
            type="button"
            class="hs-tooltip-toggle inline-flex items-center gap-x-2 p-1.5 text-sm font-semibold rounded-lg border border-gray-200 text-gray-800 focus:outline-none disabled:opacity-50 disabled:pointer-events-none dark:border-neutral-700 dark:bg-neutral-900 dark:hover:bg-neutral-800 dark:text-neutral-200"
            (click)="getSyncLogs()"
            [ngClass]="{
              'cursor-not-allowed ': isLoadingSyncLog
            }"
          >
            <svg
              *ngIf="!isLoadingSyncLog"
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="currentColor"
            >
              <path
                d="M440-122q-121-15-200.5-105.5T160-440q0-66 26-126.5T260-672l57 57q-38 34-57.5 79T240-440q0 88 56 155.5T440-202v80Zm80 0v-80q87-16 143.5-83T720-440q0-100-70-170t-170-70h-3l44 44-56 56-140-140 140-140 56 56-44 44h3q134 0 227 93t93 227q0 121-79.5 211.5T520-122v80Z"
                fill="currentColor"
              />
            </svg>
            <span
              *ngIf="isLoadingSyncLog"
              class="animate-spin inline-block size-4 border-[3px] m-1 border-current border-t-gray-800 text-gray-800 rounded-full"
              role="status"
              aria-label="loading"
            ></span>
            <span
              class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded shadow-sm dark:bg-neutral-700 dark:text-neutral-200"
              role="tooltip"
            >
              Reload
            </span>
          </button>
        </div>
      </div>
      <div class="flex flex-col w-full">
        <div class="-m-1.5 overflow-x-auto">
          <div class="p-1.5 min-w-full inline-block align-middle">
            <div
              class="border rounded-lg overflow-hidden dark:border-neutral-700"
            >
              <table
                class="min-w-full divide-y divide-gray-200 dark:divide-neutral-700"
              >
                <thead class="bg-gray-50 dark:bg-neutral-700">
                  <tr>
                    <th
                      scope="col"
                      class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-400"
                    >
                      Connection
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-400"
                    >
                      Table
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-400"
                    >
                      Details
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-400"
                    >
                      Last Sync At
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-400"
                    >
                      Sync Status
                    </th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 dark:divide-neutral-700">
                  <tr *ngFor="let log of syncLogList">
                    <td
                      class="px-6 py-4 whitespace-nowrap flex items-center justify-between text-sm font-medium text-gray-800 dark:text-neutral-200"
                    >
                      <div class="flex items-center justify-between">
                        <span
                          class="inline-flex justify-center items-center gap-x-1.5 py-1.5 px-5 rounded-lg text-xs font-medium bg-blue-100 text-blue-800 dark:bg-blue-800/30 dark:text-blue-500"
                        >
                          <img
                            src="assets/images/supabase-logo-icon.png"
                            alt="supabase logo"
                            class="w-4 h-4 rounded-full"
                          />
                          {{
                            log.SyncMapping.supabaseConnections.connectionName
                          }}
                        </span>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="currentColor"
                          class="text-gray-800 hover:text-gray-900 mx-2 w-8"
                        >
                          <path
                            d="m700-300-57-56 84-84H120v-80h607l-83-84 57-56 179 180-180 180Z"
                            fill="currentColor"
                          />
                        </svg>
                        <span
                          class="inline-flex justify-center items-center gap-x-1.5 py-1.5 px-5 rounded-lg text-xs font-medium bg-blue-100 text-blue-800 dark:bg-blue-800/30 dark:text-blue-500"
                        >
                          <img
                            src="assets/images/airtable-logo-icon.png"
                            alt="airtable logo"
                            class="w-4 h-4 rounded-full"
                          />
                          {{
                            log.SyncMapping.airtableConnections.connectionName
                          }}
                        </span>
                      </div>
                    </td>
                    <td
                      class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-neutral-200"
                    >
                      <div class="flex items-center justify-between">
                        <span
                          class="inline-flex justify-center items-center gap-x-1.5 py-1.5 px-5 rounded-lg text-xs font-medium bg-blue-100 text-blue-800 dark:bg-blue-800/30 dark:text-blue-500"
                        >
                          <img
                            src="assets/images/supabase-logo-icon.png"
                            alt="supabase logo"
                            class="w-4 h-4 rounded-full"
                          />
                          {{ log.SyncMapping.supabaseTable }}
                        </span>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="currentColor"
                          class="text-gray-800 hover:text-gray-900 mx-2 w-8"
                        >
                          <path
                            d="m700-300-57-56 84-84H120v-80h607l-83-84 57-56 179 180-180 180Z"
                            fill="currentColor"
                          />
                        </svg>
                        <span
                          class="inline-flex justify-center items-center gap-x-1.5 py-1.5 px-5 rounded-lg text-xs font-medium bg-blue-100 text-blue-800 dark:bg-blue-800/30 dark:text-blue-500"
                        >
                          <img
                            src="assets/images/airtable-logo-icon.png"
                            alt="airtable logo"
                            class="w-4 h-4 rounded-full"
                          />
                          {{ log.SyncMapping.airtableDisplayName }}
                        </span>
                      </div>
                    </td>
                    <td
                      class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-neutral-200"
                    >
                      {{ log.details }}
                    </td>
                    <td
                      class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-neutral-200"
                    >
                      {{ log.createdAt | date : 'dd/MM/YYYY (hh:mm a)' }}
                    </td>
                    <td
                      class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-neutral-200"
                    >
                      <span
                        [ngClass]="{
                          'bg-green-100 text-green-800 dark:bg-green-800/30 dark:text-green-500 dark:hover:bg-green-800/30':
                            log.status === 'SUCCESS',
                          'bg-yellow-100 text-yellow-800 dark:bg-yellow-800/30 dark:text-yellow-500 dark:hover:bg-yellow-800/30':
                            log.status === 'PROGRESS',
                          'bg-red-100 text-red-800 dark:bg-red-800/30 dark:text-red-500 dark:hover:bg-red-800/30':
                            log.status === 'FAILURE'
                        }"
                        class="py-1 px-2 inline-flex items-center gap-x-1 text-xs font-medium rounded-full cursor-default"
                      >
                        <svg
                          *ngIf="log.status === 'SUCCESS'"
                          class="shrink-0 size-3"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path
                            d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"
                          ></path>
                          <path d="m9 12 2 2 4-4"></path>
                        </svg>
                        <svg
                          *ngIf="log.status === 'FAILURE'"
                          class="shrink-0 size-3"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path
                            d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"
                          ></path>
                          <path d="M12 9v4"></path>
                          <path d="M12 17h.01"></path>
                        </svg>
                        <svg
                          *ngIf="log.status === 'PROGRESS'"
                          class="shrink-0 size-3"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <line x1="12" x2="12" y1="2" y2="6"></line>
                          <line x1="12" x2="12" y1="18" y2="22"></line>
                          <line x1="4.93" x2="7.76" y1="4.93" y2="7.76"></line>
                          <line
                            x1="16.24"
                            x2="19.07"
                            y1="16.24"
                            y2="19.07"
                          ></line>
                          <line x1="2" x2="6" y1="12" y2="12"></line>
                          <line x1="18" x2="22" y1="12" y2="12"></line>
                          <line
                            x1="4.93"
                            x2="7.76"
                            y1="19.07"
                            y2="16.24"
                          ></line>
                          <line
                            x1="16.24"
                            x2="19.07"
                            y1="7.76"
                            y2="4.93"
                          ></line>
                        </svg>
                        {{ log.status }}
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
